<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CS242 Scraping the Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<style>
body {
    padding: 20px 0;
}
.left, .right {
    display: inline-block;
}
.right {
    float: right;
}
</style>
  </head>
  <body>

      <div class="ui container">
        <button class="ui primary button" id="start-btn">Start</button>
        <button class="ui button" id="stop-btn">Stop</button>
        <div class="right floated">
            <button class="ui button" id="save-btn">Save</button>
            <button class="ui button" id="load-btn">Load</button>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui container">
    <div class="ui raised segment">
        <div class="ui four small statistics">
            <div class="statistic">
                <div class="label">Nodes</div>
                <div class="value" id="node-count">0</div>
            </div>
            <div class="statistic">
                <div class="label">Edges</div>
                <div class="value" id="edge-count">0</div>
            </div>
            <div class="statistic">
                <div class="label">Queue</div>
                <div class="value" id="queue-count">0</div>
            </div>
            <div class="statistic">
                <div class="label">Time</div>
                <div class="value" id="timer">00:00</div>
            </div>
        </div>
        </div>
    </div>

    <h4 class="ui horizontal divider header">
        Query Result
    </h4>

    <div class="ui container">
        <div class="ui button" id="query-all">Query All</div>
        <div class="ui button" id="open-plot">Plot</div>
        <div class="ui button" id="open-network">Network</div>
        <div class="ui relaxed divided list" id="result-list">

        </div>
    </div>

    <script>
      require('./index.js')
    </script>
  </body>
</html>
